.recommended {

  &__content {
    @include on-tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include on-desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include on-tablet {
      width: 392px;
    }
  }

  &__photo {
    width: 280px;
    height: 277px;
    margin-bottom: 32px;
    transition: transform 0.5s;

    @include on-tablet {
      width: 392px;
      height: 387px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__description {
    align-self: flex-start;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $text-color-black;

    &--normal {
      font-weight: 400;
    }

    &--price {
      margin-bottom: 48px;

      @include on-tablet {
        margin-bottom: 40px;
      }
    }
  }
}
